{% extends "base.html" %}{% block content %}

<form method="POST" action="{% url 'robot:create' %}" class="grid grid-cols-5 gap-2 w-1/2">
{% csrf_token %}
  <h2 name="number" class="text-center col-span-5 text-2xl text-red-500">Case #{{ number }}</h2>
  <input type="hidden" name="number" value="{{ number }}">
  <input type="hidden" name="cases" value="{{ cases }}"/>
  <label class="form-control w-full col-span-5">
    <div class="label">
      <span class="label-text w-full text-center">名稱</span>
    </div>
    <input
      type="text"
      name="name"
      class="input input-bordered w-full"
      value="{{ name }}"
    />
  </label>

  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text w-full text-center">輸入指令數量</span>
    </div>
    <input
      type="text"
      name="instructions"
      placeholder="N"
      class="input input-bordered w-full max-w-xs"
    />
  </label>
    <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text w-full text-center">輸入行數</span>
    </div>
    <input
      type="text"
      name="rows"
      placeholder="R"
      class="input input-bordered w-full max-w-xs"
    />
  </label>
    <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text w-full text-center">輸入列數</span>
    </div>
    <input
      type="text"
      name="columns"
      placeholder="C"
      class="input input-bordered w-full max-w-xs"
    />
  </label>
    <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text w-full text-center">輸入起始行</span>
    </div>
    <input
      type="text"
      name="start_row"
      placeholder="SR"
      class="input input-bordered w-full max-w-xs"
    />
  </label>
  </label>
    <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text w-full text-center">輸入起始列</span>
    </div>
    <input
      type="text"
      name="start_column"
      placeholder="SC"
      class="input input-bordered w-full max-w-xs"
    />
  </label>

  <label class="form-control w-full col-span-5">
    <div class="label">
      <span class="label-text w-full text-center">輸入移動指令</span>
    </div>
    <input
      type="text"
      name="position"
      placeholder="N,S,E,W"
      class="input input-bordered w-full"
    />
  </label>
<button type="submit" class="btn btn-outline btn-warning w-full col-start-5 mt-6">確認送出</button>
</form>
{% endblock content %}
