{% extends "base.html" %}{% block content %}
<form
  method="POST"
  action="{% url 'robot:client' %}"
  class="grid grid-cols-5 gap-2 w-1/2"
>
  {% csrf_token %} {% if messages %}
  <ul class="messages w-full col-span-5 text-red-400">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
      {{ message }}
    </li>
  </ul>
  {% endfor %} {% endif %}
  <label class="form-control w-full col-span-5">
    <div class="label">
      <span class="label-text w-full text-center">輸入名稱</span>
    </div>
    <input type="text" name="name" class="input input-bordered w-full" />
  </label>
  <label class="form-control w-full col-span-5">
    <div class="label">
      <span class="label-text w-full text-center">輸入測試案例數量</span>
    </div>
    <input type="Number" name="cases" class="input input-bordered w-full" />
  </label>
  <button
    type="submit"
    class="btn btn-outline btn-warning w-full col-start-5 mt-6"
  >
    確認送出
  </button>
</form>
{% endblock content %}
